#JavaScript,
#CSharp,
#Python {
  display: none;
  margin-top: 5px;
  border: plum dotted 5px;
  padding: 10px;
}

#tie {
  display: none;
}

#namePlease {
  display: none;
  color: red;
}

#header {
  border: plum dotted 5px;
  padding: 10px;
}

img {
  height: 150px;
}

body {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: papayawhip;
  color: rgb(2, 2, 41);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#quiz {
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn {
  margin: 20px;
  background-color: rgb(171, 228, 222);
  font-style: oblique;
}

.form-group {
  background-color: rgb(207, 228, 226);
  padding: 10px;
}